body {margin: 0 0; padding: 0 0; font-family:Verdana, Geneva, sans-serif; color: #000; font-size: 14px; }

a{color: #6488D5; text-decoration: none; border-style: none;
    &:hover {text-decoration: none;}}

.all_table {display: table; width: 100%; padding-bottom: 15px;
    ul{display:table-row}
    li{display:table-cell; vertical-align: top; }}
.all_table_l { position: relative; }
.all_table_r {position: relative; width:100%;}

.logo_search {position: relative; background: linear-gradient(to top, #F5F6F7, #fff); border-bottom: 1px #d8def6 solid; z-index: 1 }

.logo {padding: 3px; text-align: center; width: 350px;
    div{font-size: 12px; font-weight: bold; color: #6488D5; margin: 5px;}}

h1 { font-size: 21px; }

h2 { font-size: 17px; }

.error { color: red;}

.map { position: fixed; width: 100%; left: 350px; top: 0; bottom: 0; z-index: 0;}

.head {position: relative; width: 100%; top: 0; left: 0; background-color: #6488D5; text-align: right; z-index: 1}

.head_menu { margin-right: 5px;
    a{display: inline-block; padding: 8px 8px; color:#fff; font-size: 11px;
		&:hover{color: #FFF3B8;}}}

.org_tree { position: fixed; top: 135px; left: 0; bottom: 0; display: block; width:350px; overflow: auto; background-color: #fff; z-index: 0}

.org_tree_tit {display: block; font-size: 14px; font-weight: bold; margin: 15px 0 8px 23px; text-decoration: none; color: #000; padding: 0 0 0 10px; background: url(img/tr1.svg) left no-repeat;
    &:hover{text-decoration: none;}}
.act {background: url(img/tr2.svg) left no-repeat}


.org_tree_block {display: table; width: 100%;  border-bottom:1px #d8def6 solid; padding-bottom: 10px;
    ul{display:table-row;
        label { position: relative; width: 100%; padding: 3px 0; margin: 0 0 -5px 0; padding-left: 22px;
            &:hover{background-color: #E6EBFF;}
			&:hover span {border:1px #fff solid;}
            }
        .act_item {background-color: #E6EBFF;}
       }
    li{display:table-cell;}
    .l1 {padding: 0 3px 0 0;}
    .l2 {font-size: 11px; padding: 2px 3px 0 1px; color: #4D4D4D; font-weight: 100;}
    .l4 {font-size: 13px; color: #000; font-weight: bold; padding: 0 10px 0 4px;}
}

.icons {
	span{ position: relative; padding: 1px 0 3px 0; margin: 0 1px 0 0; border:1px #E6EBFF solid; border-radius: 2px;
		p{ position: absolute; display: none; bottom: 14px; z-index: 1; font-size: 11px; color: #000; background-color: #fff; font-weight: 100; width: 150px; padding: 2px 3px; left: -45px; box-shadow: 1px 1px 10px #ccc; border: 1px #6488D5 solid;}
		&:hover p{display: block;}
	    &:hover {background-color: #fff; border:1px #fff solid;}}
	img {height: 20px;}
}


.tcolor_dred { color: #fff; background-color: #d96262;}
.tcolor_dyel {color: #fff; background-color: #aeaf2b}

.table_bottom { display: table; width: 100%;
    ul{display: table-row}
    li{display: table-cell; position: relative;}}

.table_bottom_r {position: relative; width: 32%;}


.table1_cont {position: fixed; bottom: 0; right: 0; left: 350px; max-height: 40%; overflow: auto; box-shadow: 0 0 10px #ccc; margin-bottom: 5px;}

.table1 {display: table; font-size: 12px; width: 100%; color: #000; border-left: 2px #fff solid; border-right: 2px #fff solid; border-collapse: collapse; line-height: 14px; background-color: #fff; overflow: auto;
    ul{display: table-row;
        &:focus {font-weight: bold}
        &:hover{background-color: #E6EBFF; color: #000}}
    li{display: table-cell; padding: 8px 10px; border:1px #d8def6 solid; vertical-align: middle;}
	
	.table1_title {color: #287AA7; font-size: 11px; font-weight: bold; background: linear-gradient(rgba(255,255,255,1), rgba(230,235,255,1));
	&:hover{color:#287AA7}}
}
.table1_act {background-color: #E6EBFF; font-weight: bold;}

.org_name {position: fixed; top: 37px; display: inline-block; font-size: 16px; border-top:1px #d8def6 solid; border-right:1px #d8def6 solid; margin-left: 5px; padding: 7px 15px; background-color: #fff; box-shadow: 4px 3px 10px #ccc;}

.block_br {position: fixed; max-width: 500px; top: 37px; right: 5px; background-color: #fff; padding: 12px 10px; border-top:1px #d8def6 solid; box-shadow: 0 0 10px #ccc; overflow: hidden;
    label{margin-right: 10px; color: #6488D5; border-bottom:1px #94B7FF dashed; font-size: 13px; font-weight: bold; margin-bottom: 5px; margin-right: 13px;}}

.table2 {@extend .table1; border-left:1px #d8def6 solid; border-right:1px #d8def6 solid;
    li {padding: 5px}
        }

.link1but1 {display: none;}
.link1but2 {display: none;}

.link1but1_id {display: none; cursor: pointer}
.link1but2_id {display: none; cursor: pointer}

.block_tisterna {position: relative; display: block; width: 48%; top: 0; float: right; margin-top: 0;}
.block_controllers {position: relative; left: 0; display: block; width: 45%; top: 0; left: 5px;
	p{font-size: 13px;}}

.tit1{display: block; color: #000; font-size: 12px; font-weight: bold; margin: 5px 0 10px 0;}




/* hist */

.hist_cont { position: fixed; top: 20px; bottom: 0; left: 350px; right: 0; overflow: auto; }

.margin1 {padding: 0 10px;}

.links_group1 { border-bottom: 1px #d8def6 solid;
	label {display: inline-block; font-size: 21px; padding: 8px 12px 8px 12px; margin: 0 5px -2px 5px; border: 1px  #d8def6 solid; border-bottom: 1px #fff solid; border-top-left-radius: 2px; border-top-right-radius: 2px; color: #6488D5;
		&:hover {color: #fff; background-color: #6488D5; cursor: pointer;}
	}
	.links_group1_act { color: #fff; background-color: #6488D5; }
}

.links_group2 { @extend .links_group1;
	label {font-size: 12px; font-weight: bold; }}

.links_group1_but { display: inline-block; font-size: 21px; padding: 8px 12px 8px 12px; margin: 0 5px -2px 5px; border: 1px  #d8def6 solid; border-bottom: 1px #fff solid; border-top-left-radius: 2px; border-top-right-radius: 2px; color: #6488D5; background-color: #fff;
		&:hover {color: #fff; background-color: #6488D5; cursor: pointer;}
	}

.links_group1_but2 {@extend .links_group1_but; font-size: 12px; font-weight: bold;}

.links_group1_line { height: 1px; background-color: #d8def6;}

	.links_group1_act { color: #fff; background-color: #6488D5; }


.group1_chek1, .group1_chek2, .group1_radio1, .group1_radio2, .graphhist {display: none}

.group1_radio1:checked ~ .group1_chek1_link {color: #fff; background-color: #6488D5;}
.group1_radio1:checked ~ .group1_chek1 {display: block;}

.group1_radio2:checked ~ .group1_chek2_link {color: #fff; background-color: #6488D5;}
.group1_radio2:checked ~ .group1_chek2 {display: block;}

.group1_radio2:checked ~ .group1_chek2_link {color: #fff; background-color: #6488D5;}

.group2_radio1, .group2_radio2, .group2_radio3, .group2_radio4 {display: none}

.group2_radio1:checked ~ .group2_chek1_link {color: #fff; background-color: #6488D5;}
.group2_radio1:checked ~ .group2_chek1 {display: block;}

.group2_radio2:checked ~ .group2_chek2_link {color: #fff; background-color: #6488D5;}
.group2_radio2:checked ~ .group2_chek2 {display: block;}

.group2_radio3:checked ~ .group2_chek3_link {color: #fff; background-color: #6488D5;}
.group2_radio3:checked ~ .group2_chek3 {display: block;}

.group2_radio4:checked ~ .group2_chek4_link {color: #fff; background-color: #6488D5;}
.group2_radio4:checked ~ .group2_chek4 {display: block;}

.table_hist {display: table; width: 100%; padding-bottom: 15px;
    ul{display:table-row}
    li{display:table-cell; vertical-align: top;}}

.table_hist_l {border-right:1px #d8def6 solid; width:70%;}

.table_hist_r {}

.map2 { width: 100%; height: 350px;}

.block1 { font-size: 13px;
	h1 {font-size: 12px; font-weight: bold; color: #fff; padding: 8px; margin: 0; background-color: #6488D5}
	p {margin: 5px 0;}
}
.block1_all { font-size: 11px; padding: 3px 8px; overflow: auto; background-color: #f8f8f8;}
.block1_sobit {@extend .block1_all; height: 210px;}
.block1_itogi {@extend .block1_all; height: 82px;}


.table_cash { @extend .table1; position: relative;
	.table1_title{width: 100%;}}



/* /hist */





@media (max-width: 1900px) {
	
	.block_br {  max-width: 260px; }
    
    .block_controllers {position: relative; width: 100%; padding-left: 0; left: 0; top:5px;}
    .block_tisterna {position: relative; width: 100%; left: 0; float: none; margin-top: 10px;}
    
    .link1but1_id {display: inline-block;}
.link1but2_id {display: inline-block;}
    
    .link1but1[type="radio"]:checked ~ .block_tisterna {display: block;}
.link1but1[type="radio"]:checked ~ .block_controllers {display: none;}
.link1but1[type="radio"]:checked ~ .link1but1_id {color: #000; border-style: none;}

.link1but2[type="radio"]:checked ~ .block_controllers {display: block;}
.link1but2[type="radio"]:checked ~ .block_tisterna {display: none;}
.link1but2[type="radio"]:checked ~ .link1but2_id {color: #000; border-style: none;}

.tit1{display: none;}
	
	.table_bottom_r {position: relative; width: 27%;}
	
    
    
}








@media (max-width: 1400px) {
	
	.table1 {
    li{ padding: 5px 5px;}
}

	
}





@media (max-width: 1200px) {

.table_bottom { display: table; width: 100%;
    ul{display: table-row}
    li{display: block;}}
	
.table_bottom_r {width: 100%;}
	
	.bottom_cont {position: relative; margin-top: 350px}
	
	.table1_cont {position: relative; left: 0;}
    
.table1 {display: table;
    ul{display: table-row;}
    li{display: table-cell;}}
    
.block_tisterna {position: relative; margin-right: 20px; top: 0; width: 45%; float: right; margin-top: 0}
.block_controllers {position: relative; left: 0;top: 0; left: 0; width: 45%;}
	
.link1but1[type="radio"]:checked ~ .block_controllers {display: block;}
.link1but2[type="radio"]:checked ~ .block_tisterna {display: block;}
    .link1but1_id {display: none;}
    .link1but2_id {display: none;}
    
    .tit1{display: block;}
	
	.block_br { position: relative; box-shadow: 0 0 10px #ccc; top: 0; margin-top: 0; max-width: 100%; right: 0; }
    
    
}

