$left_width: 28%;
$left_width_big: 22%;
$left_width_big_big: 16%;
$left_width_small: 33%;
$left_width_min: auto;

$right_width: 72%;
$right_width_big: 78%;
$right_width_big_big: 84%;
$right_width_small: 67%;

body {margin: 0 0; padding: 0 0; font-family: Verdana, Geneva, sans-serif; color: #000; font-size: 14px; }

a{color: #6488D5; text-decoration: none; border-style: none;
    &:hover {text-decoration: none;}}

.all_table {display: table; position: relative; width: 100%;
    ul{display:table-row}
    li{display:table-cell; vertical-align: top; }}
.all_table_l { position: relative; width: $left_width_big }
.all_table_r {position: relative; width:$right_width_big;}

.logo_search {position: fixed; width: $left_width_big; min-width: $left_width_min; height: 128px; text-align: center; background: linear-gradient(to top, #F5F6F7, #fff); border-bottom: 1px #d8def6 solid; z-index: 2;}

.logo {padding: 3px; text-align: center; width: 100%;
    div{font-size: 12px; font-weight: bold; color: #6488D5; margin: 5px;}}

.input-group { position: relative; left: 0; right: 0; margin: auto; width: 300px;}

h1 { font-size: 21px; }

h2 { font-size: 17px; }

.error { color: red;}

.map { position: fixed; width: 100%; left: $left_width_big; top: 0; bottom: 0; z-index: 0;}

.head {position: fixed; top: 0; right: 0;  z-index: 2; opacity: 0.7;
	&:hover{opacity: 1;}}

.head_menu { max-height: 45px; border: 3px #6488D5 solid; text-align: left; overflow: hidden; background-color: rgba(255, 255, 255, 0.97);
    a{display: block; padding: 13px 40px 13px 10px; color:#000; font-size: 11px; font-weight: bold;
		&:hover{color: #fff; background-color: #6488D5}}
	&:hover{max-height: 1000px; transition: max-height 1s ease-out;}
	.act{color: #fff; background: rgb(100, 136, 213) url(img/menu_arrow2.svg) right 5px center no-repeat}
}

.org_tree { position: fixed; top: 153px; left: 0; bottom: 0; display: block; width: $left_width_big; min-width: $left_width_min; overflow: auto; background-color: #fff; z-index: 1}

.org_tree_tit {display: block; font-size: 14px; font-weight: bold; margin: 15px 0 8px 23px; text-decoration: none; color: #000; padding: 0 0 0 10px; background: url(img/tr1.svg) left no-repeat;
    &:hover{text-decoration: none;}}
.act {background: url(img/tr2.svg) left no-repeat}

.exp_all_cont { position: fixed; top: 124px; width: $left_width_big; min-width: $left_width_min; height: 29px; padding: 5px 5px 5px 15px; background-color: #fff; border-bottom: 1px #d8def6 solid; z-index: 1;}

.exp_all {position: absolute; left: 20px; top: 8px; font-size: 10px; color: #6488D5;  cursor: pointer;
	span{position: absolute; display:block; width: 16px; height: 16px; border: 2px #E6EBFF solid;
		img{position:absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto; transition: all 0.2s ease-out;}}
	p{margin-left:23px;}
}
#exp_all {display: none}
#exp_all:checked ~ .exp_all {
	img{transform: rotate(90deg); transition: all 0.2s ease-out;}
}


.org_tree_block {display: table; width: 100%;  border-bottom:1px #d8def6 solid; padding-bottom: 10px;
    ul{display:table-row;
        label { display: table-cell; position: relative; width: 100%; padding: 3px 0; margin: 0 0 -5px 0; padding-left: 22px;}
        .act_item {background-color: #E6EBFF;}
		&:hover{background-color: #E6EBFF;}
		&:hover span{border:1px #fff solid;}
       }
    li{display:table-cell; vertical-align: middle}
    .l1 {padding: 0 3px 0 0;}
    .l2 {font-size: 11px; padding: 2px 3px 0 1px; color: #4D4D4D; font-weight: 100;}
    .l4 {font-size: 13px; color: #000; font-weight: bold; padding: 0 10px 0 4px;}
}

.icons { display: table; border-collapse: collapse;
	span{ display: table-cell; position: relative; border:1px #E6EBFF solid;
		p{ position: absolute; display: none; bottom: 14px; z-index: 1; font-size: 11px; color: #000; background-color: #fff; font-weight: 100; width: 150px; padding: 2px 3px; left: -45px; box-shadow: 1px 1px 10px #ccc; border: 1px #6488D5 solid;}
		&:hover p{display: block;}
	    &:hover {background-color: #fff; border:1px #fff solid;}}
	img { width: 20px; height: 23px; padding: 1px;}
}


.tcolor_dred { color: #fff; background-color: #d96262;}
.tcolor_dyel {color: #fff; background-color: #aeaf2b}




.table1_cont {position: fixed; bottom: 0; right: 0; left: $left_width_big; max-height: 40%; overflow: auto; box-shadow: 0 0 10px #ccc; margin-bottom: 5px;}

.table1 {display: table; font-size: 12px; width: 100%; color: #000; border-left: 2px #fff solid; border-right: 2px #fff solid; border-collapse: collapse; line-height: 14px; background-color: #fff; overflow: auto;
    ul{display: table-row;
        &:focus {font-weight: bold}
        &:hover{background-color: #E6EBFF; color: #000}}
    li{display: table-cell; position: relative; padding: 8px 10px; border:1px #d8def6 solid; vertical-align: middle;}
	
	.table1_title {color: #287AA7; font-size: 11px; font-weight: bold; background: linear-gradient(rgba(255,255,255,1), rgba(230,235,255,1));
	&:hover{color:#287AA7}}
	
	.item_del { display: block; position: absolute; width: 16px; height: 16px; left: 0; right: 0; top: 0; bottom: 0; margin: auto; color: #D5422F; padding: 1px 0; font-weight: bold; font-size: 17px; border-radius: 3px; text-align: center;
	&:hover{color: #fff; background-color: #D5422F;}}
}
.table1_act {background-color: #E6EBFF; font-weight: bold;}

.org_name {position: fixed; top: 5px; display: inline-block; left: $left_width_big; font-size: 18px; border-right:1px #d8def6 solid; margin-left: 5px; padding: 7px 15px; background-color: #fff; box-shadow: 2px 2px 2px #ccc; z-index: 2}

.block_br {position: fixed; width: 22%; top: 12%; right: 5px; background-color: #fff; padding: 12px 10px; border-top:1px #d8def6 solid; box-shadow: 0 0 10px #ccc; max-height: 400px; overflow: auto;
    label{margin-right: 10px; color: #6488D5; border-bottom:1px #94B7FF dashed; font-size: 13px; font-weight: bold; margin-bottom: 5px; margin-right: 13px;}}

.table2 {@extend .table1; border-left:1px #d8def6 solid; border-right:1px #d8def6 solid;
    li {padding: 5px}
        }

.link1but1 {display: none;}
.link1but2 {display: none;}

.link1but1_id {display: none; cursor: pointer}
.link1but2_id {display: none; cursor: pointer}

.block_tisterna {position: relative; display: block; width: 48%; top: 0; float: right; margin-top: 0;}
.block_controllers {position: relative; left: 0; display: block; width: 45%; top: 0; left: 5px;
	p{font-size: 13px;}}

.tit1{display: block; color: #000; font-size: 12px; font-weight: bold; margin: 5px 0 10px 0;}




/* hist */

.hist_cont {position: fixed; top: 45px; bottom: 0; left: $left_width_big; right: 0; overflow: auto; padding-top: 20px; }

.hist_bottom { margin-top: 15px}

.graphhist { overflow: auto; background-color: #fff;}

.margin1 {position: relative; padding: 0 10px; overflow: auto }

.links_group1 { border-bottom: 1px #d8def6 solid;
	label {display: inline-block; font-size: 21px; padding: 8px 12px 8px 12px; margin: 0 5px -2px 5px; border: 1px  #d8def6 solid; border-bottom: 1px #fff solid; border-top-left-radius: 2px; border-top-right-radius: 2px; color: #6488D5;
		&:hover {color: #fff; background-color: #6488D5; cursor: pointer;}
	}
	.links_group1_act { color: #fff; background-color: #6488D5; }
}

.links_group2 { @extend .links_group1;
	label {font-size: 12px; font-weight: bold; }}

.links_group1_but { position: relative; display: inline-block; font-size: 21px; padding: 8px 12px 8px 12px; margin: 60px 5px 0 5px; border: 1px  #d8def6 solid; border-bottom: 1px #fff solid; border-top-left-radius: 2px; border-top-right-radius: 2px; color: #6488D5; background-color: #fff; z-index: 1;
		&:hover {color: #fff; background-color: #6488D5; cursor: pointer;}
	}

.links_group1_but2 {@extend .links_group1_but; font-size: 12px; font-weight: bold; margin: 0 5px 0 5px;}

.links_group1_line { height: 1px; background-color: #d8def6;}

	.links_group1_act { color: #fff; background-color: #6488D5; }


.group1_chek1, .group1_chek2, .group1_radio1, .group1_radio2, .graphhist {display: none;}

.group1_radio1:checked ~ .group1_chek1_link {color: #fff; background-color: #6488D5;}
.group1_radio1:checked ~ .group1_chek1 {display: block;}

.group1_radio2:checked ~ .group1_chek2_link {color: #fff; background-color: #6488D5;}
.group1_radio2:checked ~ .group1_chek2 {display: block;}

.group1_radio2:checked ~ .group1_chek2_link {color: #fff; background-color: #6488D5;}

.group2_radio1, .group2_radio2, .group2_radio3, .group2_radio4 {display: none}

.group2_radio1:checked ~ .group2_chek1_link {color: #fff; background-color: #6488D5;}
.group2_radio1:checked ~ .group2_chek1 {display: block;}

.group2_radio2:checked ~ .group2_chek2_link {color: #fff; background-color: #6488D5;}
.group2_radio2:checked ~ .group2_chek2 {display: block;}

.group2_radio3:checked ~ .group2_chek3_link {color: #fff; background-color: #6488D5;}
.group2_radio3:checked ~ .group2_chek3 {display: block;}

.group2_radio4:checked ~ .group2_chek4_link {color: #fff; background-color: #6488D5;}
.group2_radio4:checked ~ .group2_chek4 {display: block;}

.table_hist {display: table; width: 100%; padding-bottom: 15px;
    ul{display:table-row}
    li{display:table-cell; vertical-align: top;}}

.table_hist_l {border-right:1px #d8def6 solid; width:70%;}

.table_hist_r {}

.map2 { position: relative; right: 0; width: 100%; height: 400px;}
.map2_cont { width: 100%; height: 400px;}

.hist_calend { background-color: #fff; padding: 5px 8px; }

.block1 { display: table; padding: 0; background-color: #f8f8f8; width: 100%;
	h1 {font-size: 12px; font-weight: bold; color: #fff; padding: 8px; margin: 0; background-color: #6488D5}
	p {margin: 5px 0;}
}
.block1_all { font-size: 11px; padding: 3px 8px; overflow: auto;}
.block1_sobit { display: table-cell; width: 50%}
.block1_sobit_cont {@extend .block1_all; height: 180px}
.block1_itogi { display: table-cell; width: 50% }
.block1_itogi_cont {@extend .block1_all; height: 180px }


.table_cash { @extend .table1; position: relative;
	.table1_title{width: 100%;}}


.input-group { width: 90%;}



.table_cash2 { width:100%; margin-top: 50px;
	table{ font-size: 12px;
  border-collapse:collapse;
  width:100%;
		tbody {}
}
	
	tr {
		&:hover{background-color: #E6EBFF; color: #000}
	}

thead{
  color: #287AA7; font-size: 11px; font-weight: bold; background: linear-gradient(rgba(255,255,255,1), rgba(230,235,255,1));
	&:hover{color:#287AA7}
}

th,td{ border:1px #d8def6 solid;
  text-align:left;
  padding: 8px 10px;
}
}

.fixed{
  top: 50px;
  position:fixed;
  width:auto;
  display:none;
  border:none;
}



/* /hist */




@media (min-width: 2250px) {
	
	.all_table_l { width: $left_width_big_big}
.all_table_r { width: $right_width_big_big}
	
	.table1_cont { left: $left_width_big_big}
	
	.logo_search { width: $left_width_big_big; }
	
	.map { left: $left_width_big_big; }
	
	.org_tree { width: $left_width_big_big}
	
	.exp_all_cont {width: $left_width_big_big;}
	
	.org_name {left: $left_width_big_big}
	
	.hist_cont { left: $left_width_big_big }

	
}




@media (max-width: 1900px) {
	
	
	
	
    .block_controllers {position: relative; width: 100%; padding-left: 0; left: 0; top:5px;}
    .block_tisterna {position: relative; width: 100%; left: 0; float: none; margin-top: 10px;}
    
    .link1but1_id {display: inline-block;}
.link1but2_id {display: inline-block;}
    
    .link1but1[type="radio"]:checked ~ .block_tisterna {display: block;}
.link1but1[type="radio"]:checked ~ .block_controllers {display: none;}
.link1but1[type="radio"]:checked ~ .link1but1_id {color: #000; border-style: none;}

.link1but2[type="radio"]:checked ~ .block_controllers {display: block;}
.link1but2[type="radio"]:checked ~ .block_tisterna {display: none;}
.link1but2[type="radio"]:checked ~ .link1but2_id {color: #000; border-style: none;}

.tit1{display: none;}
	
	
    
    
}



@media (max-width: 1650px) {
	
	.all_table_l { width: $left_width}
.all_table_r { width: $right_width}
	
	.table1_cont { left: $left_width}
	
	.logo_search { width: $left_width; }
	
	.map { left: $left_width; }
	
	.org_tree { width: $left_width}
	
	.exp_all_cont {width: $left_width;}
	
	.org_name {left: $left_width}
	
	.hist_cont { left: $left_width }

	
}


@media (max-width: 1300px) {
	
	.all_table_l { width: $left_width_small}
.all_table_r { width: $right_width_small}
	
	.table1_cont { left: $left_width_small}
	
	.logo_search { width: $left_width_small; }
	
	.map { left: $left_width_small; }
	
	.org_tree { width: $left_width_small}
	
	.exp_all_cont {width: $left_width_small;}
	
	.org_name {left: $left_width_small}
	
	.hist_cont { left: $left_width_small }

	
}




@media (max-width: 1170px) {
	
		.all_table_l { width: $left_width_small}
.all_table_r { width: $right_width_small}
    
    .tit1{display: block;}
	
	.block_br { right: 0; top: 25%; bottom: 41%; width: 30%; max-width: 100%; overflow: auto}
	
	.org_name { right: 30%; }
	
	.table1_cont { margin-bottom: 0; left: $left_width_small }
    
	.table1 {
		li{ font-size: 11px; padding: 2px 2px}
	}
	
	.head {opacity: 0.9;}
	
	
	.logo_search { width: $left_width_small; }
	
	.map { left: $left_width_small; }
	
	.map2 { height: 300px;}
	.map2_cont { height: 300px;}
	
	.org_tree { width: $left_width_small}
	
	.exp_all_cont {width: $left_width_small;}
	
	.org_name {left: $left_width_small}
	
	.hist_cont { left: $left_width_small; top: 70px}
	
	.links_group1_but { margin-top: 100px }
	
	.links_group1_but2 { margin-top: 0;}
	
}




@media (max-width: 970px) {
	
	.block_br {left: $left_width_small; width: auto; }
	.table1_cont { margin-bottom: 0; }
	
	
	
}



@media (max-width: 750px) {
	
	
	.table1_cont { max-height: 50%;}
	
	.block_br { bottom: 51%; }
	
	.org_name { top: 50px; right: auto; }
	
	.links_group1_but { margin-top: 130px }
	
	.links_group1_but2 { margin-top: 0;}
	
	
}

