.table_cont_all {  color: #287AA7;
  position: fixed; bottom:0;
  padding-top: 43px;
   background-color: #ccc;
}

.table_cont { 
    width: 100%; color: #287AA7; font-size: 11px; font-weight: bold; line-height: 14px; 
  overflow-y: auto;
  max-height: 200px;
	background-color: #fff;
	
}
table {
  border-spacing: 0;
  width:100%;
}
td + td {
  border-left:1px solid #d8def6;
}
td, th {
  border-bottom:1px solid #d8def6;
  
  color: #000;
  padding: 9px 25px;
}
th {
  height: 0;
  line-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  color: transparent;
  border: none;
  white-space: nowrap;

}
th div{
  position: absolute;
  color: #000;
  padding: 8px 10px;
  top: 0;
  margin-left: -25px;
  line-height: normal;
  border-left: 1px solid #d8def6;
	
}
th:first-child div{
  border: none;
}